#npm and node
node_modules
npm-debug.log

#build
dist

#tests
src/tests

#docker
Dockerfile
docker-compose.yaml

#helper scripts and configs
build-images.sh
generateLibrariesNotice.sh
license-report.json
README.md
servers.json
openapi-generator-plus.yml
replace-config.js
.env
.eslintrc.json
.github
.gitignore
.dockerignore